.news-container {
    padding: 20px;
    box-sizing: border-box;
}

/* header */
.news-container .header {
    display: flex;
    flex-direction: column;
}

.header .title {
    margin-bottom: 15px;
}

.header .author {
    display: flex;
    flex-direction: row;
}

.header .author img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header .author .author-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.author-info #username {
    font-weight: bold;
    color: #487eb0;
}

.author-info #postedDateTime {
    color: #6c6c6c;
}

/* footer */ 

.news-container .footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #adadad;
    padding: 10px 0;
    box-sizing: border-box;
}

#like {
    cursor: pointer;
}